!!! 5
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    style
      .rating {
      float:left;
      width:180px;
      background-image:url(images/poll-bottom.png);
      background-position:bottom left;
      background-repeat:no-repeat;
      padding-bottom:40px;
      }
      .graph {
      float:left;
      margin-top:10px;
      position:relative;
      height:380px;
      padding:0;
      }
      .graph .bar1, .graph .bar2, .graph .bar3{
      display:block;
      position:absolute;
      background-image:url(images/poll-body.png);
      background-position:top left;
      color:#fff;
      width:159px;
      min-height:70px;
      font-family:Arial, Helvetica, sans-serif;
      font-size:12px;
      line-height:1.9em;
      bottom:0;
      }
      .graph .bar1 span, .graph .bar2 span,  .graph .bar3 span  {
      position:absolute;
      left:50px;
      top:20px;
      font-size:33px;
      color:#333;
      text-shadow:0 1px #fff;
      }
      .ans{
      text-align:center;}
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  body!= body
